<h1>開発者情報</h1>
<table>
  <tbody>
      <tr>
        <td>名前:</td>
        <td>ninf</td>
      </tr>
      <tr>
        <td>生息地:</td>
        <td>北の国</td>
      </tr>
      <tr>
        <td>専門分野</td>
        <td>
            <ul>
              <li>Webアプリ(PHP)</li>
              <li>Webアプリ(Ruby)</li>
              <li>Androidアプリ(Java)</li>
              <li>iOSアプリ(Swift)</li>
            </ul>
        </td>
      </tr>
  </tbody>
</table>
